@import "tailwindcss";

:root {
  --primary: #fc004e;
  --secondary: #00e7f9;
}

@theme inline {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --font-urbanist: var(--font-urbanist);
  --font-figtree: var(--font-figtree);
}

